server:
  port: 8083

spring:
  application:
    name: routing-service
  main:
    web-application-type: servlet

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always